*{
    padding: 0;
    border: 0;
}

/********** Footer ************/
footer{
    min-height: 500px;
    background-color: black;
    color: white;
}

#logo-footer{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.content-footer{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.txt-footer{
    font-size: 15pt;
}

#group-copyright{
    position: sticky;
}

.copyright{
    text-align: center;
}

p.copyright{
    margin: 0;
}

@media(max-width: 990px){
    footer{
        display: inline-table;
    }
    .contato{
        margin-bottom: 50px;
    }

    #group-copyright{
        position: relative;
    }
}

@media(max-width: 766px){
    .copyright{
        font-size: 9pt;
    }
}

.body-footer{
    min-height: 440px;
}

#link-copyright{
    color: #FF5042;
}